@use "global" as *;

.AboutUs {
  position: relative;
}

.AboutUs__CoralImg {
  display: none;
  // @include mq("md") {
  //   display: block;
  //   position: absolute;
  //   bottom: rem(0);
  //   right: rem(7);
  //   width: rem(194);
  //   z-index: 30;
  // }
  @include mq("md") {
    display: block;
    position: absolute;
    bottom: -12.9%;
    right: 5.8%;
    width: 13.4%;
    max-width: rem(193);
    z-index: 30;
  }
  // @media (min-width: 1000px) {
  //   bottom: rem(-20);
  //   right: rem(-20);
  // }
  // @media (min-width: 1150px) {
  //   bottom: rem(-45);
  //   right: rem(-40);
  // }
  // @media (min-width: 1200px) {
  //   bottom: rem(-65);
  //   right: rem(-55);
  // }
  // @media (min-width: 1300px) {
  //   bottom: rem(-98);
  //   right: rem(-97);
  // }
}

.AboutUs__CoralImg::before {
  display: none;
  @include mq("md") {
    display: block;
    content: "";
    padding-top: 93.29896907%; //このおかげで画像サイズ1:1を保てる！
  }
}

.AboutUs__CoralImg img {
  display: none;
  @include mq("md") {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.AboutUs__inner {
}

.AboutUs__Title {
  margin-bottom: rem(28);
  @include mq("md") {
    margin-bottom: rem(40);
  }
}

.AboutUs__Contents {
  position: relative;
}

.AboutUs__ImgWrapper {
  position: relative;
  padding: 0 0 rem(18);
  margin-bottom: rem(40);
  @include mq("md") {
    padding: 0 0 rem(46);
    margin-bottom: rem(0);
  }
}

.AboutUs__ImgLeft {
  width: 37.101449275%;
  position: relative;
  z-index: 2;
}

.AboutUs__ImgLeft::before {
  content: "";
  display: block;
  padding-top: 151.5625%; //このおかげで画像サイズ1:1を保てる！
}

.AboutUs__ImgLeft img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AboutUs__ImgRight {
  width: 81.449275362%;
  // position: relative;
  position: absolute;
  top: 12%;
  right: 0%;
  z-index: 1;
}

.AboutUs__ImgRight::before {
  content: "";
  display: block;
  padding-top: 66.192170818%; //このおかげで画像サイズ1:1を保てる！
}

.AboutUs__ImgRight img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AboutUs__ContentWrapper {
  @include mq("md") {
    position: absolute;
    // top: 40.3%;
    // right: 15.4%;
    top: 30.5%;
    right: 3.8%;
    // transform: translate(7.3%, -53.5%);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: rem(40);
    z-index: 3;
  }
}

.AboutUs__ContentTitle {
  font-size: rem(40);
  line-height: calc(40 / 40);
  letter-spacing: rem(0);
  font-family: $second-font-family;
  font-weight: $regular;
  color: $green;
  white-space: nowrap;
  margin-bottom: rem(16);
  @include mq("md") {
    font-size: rem(80);
    line-height: calc(100 / 80);
    letter-spacing: rem(0);
    font-family: $second-font-family;
    font-weight: $regular;
    color: $white;
    flex-shrink: 0;
    margin-top: rem(0);
    margin-bottom: rem(0);
  }
}

.AboutUs__TextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("md") {
    flex-basis: rem(400);
    flex-shrink: 0;
  }
}

.AboutUs__Text {
  font-size: rem(16);
  line-height: calc(24 / 16);
  letter-spacing: rem(0);
  font-weight: $regular;
  color: $dark-blue;
  margin-bottom: rem(50);
  @include mq("md") {
    color: $white;
    margin-bottom: rem(40);
  }
}

.AboutUs__Button {
}
